@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


/* tic-tac-toe canvas */
.canvas{
text-align: center;
background-color: #996E89;
padding-bottom: 400px;
align-items: center
}

.col{
  border: solid;
  height: 15vmax
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  font-size: 80px
}

